<a class='robot-list-link' href="/robots">Robot List</a>
<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <form action="/robots" method="post">
      <h3>Enter a new robot:</h3>
      <div class='form-group'>
        <input type='text' name='robot[name]' class="form-control" placeholder="Robot Name"/><br/>
      </div>
      <div class='form-group'>
        <input type='text' name='robot[city]' class="form-control" placeholder="City"></input><br/>
      </div>
      <div class='form-group'>
        <input type='text' name='robot[state]' class="form-control" placeholder="State"></input><br/>
      </div>
      <div class='form-group'>
        <input type='text' name='robot[department]' class="form-control" placeholder="Department"></input><br/>
        <input class='btn btn-primary' type='submit'/>
      </div>
    </form>
  </div>
  <div class='col-md-3'>
  </div>
</div>
